{extend name='base'}
{block name='body'}
<div class="x-body">
    <form class="layui-form">
    <input type="hidden" name="id" value="{$list.id}">
        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>轮播图
            </label>
            <div class="layui-input-inline">
              <div class="site-demo-upbar">
                <input type="file" name="file" class="layui-upload-file" id="test">
              </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">原图
            </label>
            <img id="LAY_demo_upload" width="200" src="/static/admin/uploads/banner/{$list.imgurl}">
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
            </label>
            （不修改图片可以不上传）
        </div>
        <input id="Imgurl" type="hidden" name="imgurl" value="" placeholder="">
        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>链接
            </label>
            <div class="layui-input-inline">
                <input type="text" id="link" name="link" required="" lay-verify="required"
                autocomplete="off" class="layui-input" value="{$list.link}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="desc" class="layui-form-label">
                <span class="x-red">*</span>描述
            </label>
            <div class="layui-input-inline">
                <input type="text" id="desc" name="title" required="" lay-verify="required"
                autocomplete="off" class="layui-input" value="{$list.title}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                修改
            </button>
        </div>
    </form>
</div>
{/block}
{block name='ojs'}
<script>
    layui.use(['form','layer','upload'], function(){
        $ = layui.jquery;
        var form = layui.form()
        ,layer = layui.layer;
        ///图片上传接口
          layui.upload({
            url: '/admin/banner/upload //上传接口
            ,success: function(res){ //上传成功后的回调
                console.log(res);
              $('#LAY_demo_upload').attr('src',res.data.src);
              $('#Imgurl').attr('value',res.data.title);
            }
          });

        //监听提交
        form.on('submit(add)', function(data){
            //执行提交
            $.ajax({
                url:"/admin/banner/update",//url的请求地址
                type:"POST",//请求方式
                data:data.field, //传参
                asyn:true,//异步
                dataType:"json",//预期服务器返回的数据类型
                success:function(succdata){
                    //是否提交成功
                    if (succdata.code!=0) {
                        layer.msg(succdata.info, {icon: 5});
                    }else{
                        layer.alert(succdata.info, {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            window.parent.location.reload();
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    }
                },
                error:function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('提交失败，请重试。。', {icon: 5});
                }
            });
        
            return false;
        });
    });
</script>
{/block}