{extend name='base'}
{block name='tcss'}
<link rel="stylesheet" href="/static/admin/lib/bootstrap/css/bootstrap.min.css" >
{/block}
{block name='body'}
<div class="x-nav">
    <span class="layui-breadcrumb">
      <a><cite>用户信息</cite></a>
      <a><cite>管理员列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <form class="layui-form " action="/admin/user/index" method="get">
            <div class="layui-form-pane" style="margin-top: 15px;">
              <div class="layui-form-item">
                <div class="layui-input-inline" style="width:auto;">
                    <a class="layui-btn layui-btn-danger" onclick="admin_add('添加用户','/admin/user/add','600','500')"><i class="layui-icon">&#xe608;</i>添加</a>
                </div>
                <label class="layui-form-label">
                          每页
                      </label>
                      <div class="layui-input-inline" style="width: 100px">
                        <select name="pagesize">
                          <option value="10" {if condition="$pagesize==10"}selected{/if}>10</option>
                          <option value="20" {if condition="$pagesize==20"}selected{/if}>20</option>
                          <option value="30" {if condition="$pagesize==30"}selected{/if}>30</option>
                          <option value="30" {if condition="$pagesize==50"}selected{/if}>50</option>
                          <option value="{$num}" {if condition="$pagesize==$num"}selected{/if}>全部</option>
                        </select>
                      </div>
                      <label class="layui-form-label" style="right:15px;">
                          条
                      </label>
                <label class="layui-form-label">用户名：</label>
                <div class="layui-input-inline">
                  <input type="text" name="username"  placeholder="请输入登录名" autocomplete="off" class="layui-input" value={$Think.get.username|default=''}>
                </div>
                <div class="layui-input-inline" style="">
                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </div> 
                </form>  
              </div>
            </div> 
          
        
    </xblock>
    <table class="layui-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>账号</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>角色</th>
                <th>注册时间</th>
                <th>状态</th>
                <th{:role()}>操作</th>
            </tr>
        </thead>
        <tbody>
        {volist name='list' id='vo'}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <td>{$vo.phone}</td>
                <td>{$vo.email}</td>
                <td>{$vo.role}</td>
                <td>{$vo.create_time}</td>
                <td class="td-status">{$vo.status}</td>
                <td class="td-manage" {:role()}>
                    {if condition="$vo->getData('status')==1"}
                    <a style="text-decoration:none" onclick="admin_stop(this,{$vo.id})" href="javascript:;" title="停用">
                        <i class="layui-icon">&#xe601;</i>
                    </a>
                    {else/}
                    <a style="text-decoration:none" onclick="admin_start(this,{$vo.id})" href="javascript:;" title="启用"><i class="layui-icon">&#xe62f;</i></a>
                    {/if}

                    <a title="编辑" href="javascript:;" onclick="admin_edit('编辑','/admin/user/edit/id/{$vo.id}','4','600','410')"
                    class="ml-5" style="text-decoration:none">
                        <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a title="删除" href="javascript:;" onclick="admin_del(this,{$vo.id})" 
                    style="text-decoration:none">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>
   
    {$list->render()}
    
</div>
{/block}

{block name='ojs'}
<script>
    layui.use(['laydate','layer','form'], function(){
      $ = layui.jquery;//jquery
      layer = layui.layer;//弹出层      
    });
     /*添加*/
    function admin_add(title,url,w,h){
        x_admin_show(title,url,w,h);
    }

     /*停用*/
    function admin_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
            //发异步把用户状态进行更改
            $.get('/admin/user/forbidden/id/'+id,function(succdata){
              //是否提交成功
              if (succdata.code!=0) {
                  layer.msg(succdata.info, {icon: 5,time:2000});
              }else{
                  $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="admin_start(this,'+id+')" href="javascript:;" title="启用"><i class="layui-icon">&#xe62f;</i></a>');
                  $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-danger layui-btn-mini">已禁用</span>');
                  $(obj).remove();
                  layer.msg(succdata.info, {icon: 6,time:2000});
              }
            });
        });
    }

    /*启用*/
    function admin_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            //发异步把用户状态进行更改
            $.get('/admin/user/star/id/'+id,function(succdata){
              //是否提交成功
              if (succdata.code!=0) {
                  layer.msg(succdata.info, {icon: 5,time:2000});
              }else{
                  $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="admin_stop(this,'+id+')" href="javascript:;" title="停用"><i class="layui-icon">&#xe601;</i></a>');
                  $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>');
                  $(obj).remove();
                  layer.msg(succdata.info, {icon: 6,time:2000});
              }
            });
        });
    }
    //编辑
    function admin_edit (title,url,id,w,h) {
        x_admin_show(title,url,w,h); 
    }
    /*删除*/
    function admin_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.get('/admin/user/del/id/'+id,function(succdata){
              //是否提交成功
              if (succdata.code!=0) {
                  layer.msg(succdata.info, {icon: 5,time:2000});
              }else{
                  $(obj).parents("tr").remove();
                  layer.msg(succdata.info, {icon: 6,time:2000});
              }
            });
            
        });
    }
</script>
{/block}
