{extend name='base'}
{block name='tcss'}
<link rel="stylesheet" href="/static/admin/lib/bootstrap/css/bootstrap.min.css" >
{/block}
{block name='body'}
<div class="x-nav">
    <span class="layui-breadcrumb">
      <a><cite>新闻管理</cite></a>
      <a><cite>新闻类别管理</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <form class="layui-form " action="/admin/artical/index" method="get">
            <div class="layui-form-pane" style="margin-top: 15px;">
              <div class="layui-form-item">
               <div class="layui-input-inline" style="width:auto;">
                    <a class="layui-btn layui-btn-danger" onclick="admin_add('添加用户','/admin/artical/add','700','500')"><i class="layui-icon">&#xe608;</i>添加</a>
                </div>
                <label class="layui-form-label">用户名：</label>
                <div class="layui-input-inline">
                  <input type="text" name="title" value="{$search.title|default=''}"  autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="">
                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </div>
              </div>
            </div> 
<!-- 日期插件 无用 防止js 错误 -->
<input style="display: none" class="layui-input" placeholder="开始日" id="LAY_demorange_s">

<input style="display: none" class="layui-input" placeholder="截止日" id="LAY_demorange_e">
<!-- 结束  日期插件 无用 防止js 错误 -->
        
        </form>     
        
    </xblock>
    <table class="layui-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>类别</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {volist name='list' id='vo'}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td>{$vo.tid}</td>
                <td>{$vo.content}</td>
                <td class="td-manage">
                    <a title="编辑" href="javascript:;" onclick="admin_edit('编辑','admin-edit.html','4','','510')"
                    class="ml-5" style="text-decoration:none">
                        <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" 
                    style="text-decoration:none">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>

    {$list->render()}
</div>
{/block}

{block name='ojs'}
<script>
    layui.use(['laydate','element','layer'], function(){
        $ = layui.jquery;//jquery
      // laydate = layui.laydate;//日期插件
      lement = layui.element();//面包导航
      // laypage = layui.laypage;//分页
      layer = layui.layer;//弹出层

      //以上模块根据需要引入

      // laypage({
      //   cont: 'page'
      //   ,pages: 100
      //   ,first: 1
      //   ,last: 100
      //   ,prev: '<em><</em>'
      //   ,next: '<em>></em>'
      // }); 
      
      // var start = {
      //   min: laydate.now()
      //   ,max: '2099-06-16 23:59:59'
      //   ,istoday: false
      //   ,choose: function(datas){
      //     end.min = datas; //开始日选好后，重置结束日的最小日期
      //     end.start = datas //将结束日的初始值设定为开始日
      //   }
      // };
      
      // var end = {
      //   min: laydate.now()
      //   ,max: '2099-06-16 23:59:59'
      //   ,istoday: false
      //   ,choose: function(datas){
      //     start.max = datas; //结束日选好后，重置开始日的最大日期
      //   }
      // };
      
      // document.getElementById('LAY_demorange_s').onclick = function(){
      //   start.elem = this;
      //   laydate(start);
      // }
      // document.getElementById('LAY_demorange_e').onclick = function(){
      //   end.elem = this
      //   laydate(end);
      // }
      
    });

    //批量删除提交
     function delAll () {
        layer.confirm('确认要删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
        });
     }
     /*添加*/
    function admin_add(title,url,w,h){
        x_admin_show(title,url,w,h);
    }

     /*停用*/
    function admin_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
            //发异步把用户状态进行更改
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="admin_start(this,id)" href="javascript:;" title="启用"><i class="layui-icon">&#xe62f;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-disabled layui-btn-mini">已停用</span>');
            $(obj).remove();
            layer.msg('已停用!',{icon: 5,time:1000});
        });
    }

    /*启用*/
    function admin_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            //发异步把用户状态进行更改
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="admin_stop(this,id)" href="javascript:;" title="停用"><i class="layui-icon">&#xe601;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>');
            $(obj).remove();
            layer.msg('已启用!',{icon: 6,time:1000});
        });
    }
    //编辑
    function admin_edit (title,url,id,w,h) {
        x_admin_show(title,url,w,h); 
    }
    /*删除*/
    function admin_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
</script>
{/block}
